<div id="mainnavigation">
	<div id="smoothmenu1" class="ddsmoothmenu">
		<ul>
		<li><a href="/static/index">HOME</a></li>

		<li><a href="/static/solutions">PRODUCTS & SERVICES</a>
			<ul>
				<li><a href="/static/telecominternetservices">Telecom & Internet Services</a></li>
				<li><a href="/static/supportservices">Support Services</a></li>
			</ul>
		</li>
		<li><a href="/static/solutions">SOLUTIONS</a>
			<ul>
				<li><a href="/static/index">By Industry</a>
				   <ul>
					  <li><a href="/static/corporate">Corporate</a></li>	
					  <li><a href="/static/government">Government</a></li>
					  <li><a href="/static/healthcare">Healthcare</a></li>   
					  <li><a href="/static/education">Education</a></li>
					  <li><a href="/static/property">Property Management</a></li>
					  <li><a href="/static/manufacturing">Manufacturing</a></li>
					  <li><a href="/static/retail">Retail</a></li>   
					  <li><a href="/static/naturalresources">Natural Resources</a></li>   
					  <li><a href="/static/hospitality">Hospitality</a></li>
					  <li><a href="/static/worship">Houses of Worship</a></li>
				   </ul>
				</li>
				<li><a href="/static/index">By Need</a>
					<ul>
					  <li><a href="/static/infrastructure">Infrastructure</a></li>
					  <li><a href="/static/itnetwork">IT/Network</a></li>
					  <li><a href="/static/telephony">Telephony</a></li>   
					  <li><a href="/static/cloudcomputing">Cloud Computing</a></li> 
					  <li><a href="/static/filedigitization">File Digitization</a></li> 
					  <li><a href="/static/software">Software</a></li> 
					  <li><a href="/static/disasterrecovery">Disaster Recovery</a></li> 
					  <li><a href="/static/accesscontrol">Access Control</a></li> 
					  <li><a href="/static/surveillance">Surveillance</a></li> 
					  <li><a href="/static/printingcopying">Printing/Copying</a></li>
					  <li><a href="/static/automation">Automation</a></li>
				   	</ul>
				</li>	
			</ul>
		</li>

		<li><a href="/static/why">WHY 4TECH?</a></li>

		<li><a href="/static/about">ABOUT 4TECH</a>
			<ul>
				<li><a href="/static/companyhistory">Company History</a></li>
				<li><a href="/static/partnerships">Partnerships</a></li>
				<li><a href="/static/managementteam">Management Team</a></li>   
		   	</ul>		
		</li>	

		<li><a href="/static/contact">CONTACT US</a></li>
		</ul>
	</div>
	<!-- Begin PicoSearch Query Box --> 
	<div id="searchbox">
		<form style="margin:0;" method="get" action="http://www.picosearch.com/cgi-bin/ts.pl">
			<input type="hidden" name="index" value="518563" />
			<input type="text" name="query"  value="" size="20" />
			<span style="white-space: nowrap;"><input type="submit" value="Search" name="search" /></span>
		</form>
	</div>
	<!-- End PicoSearch Query Box -->
</div>