<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Affiliate Program</H2>
<p>The 4Tech affiliate program is designed to bring dynamic teamwork together for a world-class integrated solution approach to today’s business needs.  Many of the industry’s very best technicians and consultants today are self-employed contractors.  Most of these have developed very distinct skill sets in specific niche markets.  However, in today’s business environment many businesses are looking for a total integrated solution where one company brings the whole solution set to the table.  This is 4Tech’s business model.  We design, build, implement and service the entire technology suite for many business verticals today. From engineering and design consulting to infrastructure build-out, and from hardware to software design and rollouts, we put the team together and offer an Integrated Solution.</p>
<p>If you are a technology professional, your affiliation with 4Tech brings our whole team to the table for your clients and they remain your client. It also brings your expertise to our team for all of our clients. Like every 4Tech project, we think business should be a win/win proposition.  Synergy and leverage should result from your 4Tech affiliation.  Why not look into becoming a 4Tech affiliate today?  Stop leaving business opportunities on the table and call (972)466-0426 for more information!</p>
</div>

<div id="detailimageright">
<img src="/images/1909368.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
