<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Automation</H2>
<p>Many businesses are finding new ways to utilize automation to bring new efficiencies to their core business. At 4Tech we strive to bring a consultative approach to your technology system to improve your company’s ROI. We provision industry-leading access and automation controls for homes, offices, schools, hospitals, convention centers, hotels, and more.  Let 4Tech bring your business to new levels of automation and effectiveness!</p>
</div>

<div id="detailimageright">
<img src="/images/PDP0937259.JPG">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
