<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Cloud Computing</H2>
<p>At 4Tech, we understand the benefits of cloud computing and have the expertise needed to make it work for you.  From simple offsite backup solutions to fail-safe virtual servers for disaster recovery, “the Cloud” is fast becoming an indispensable part of most IT systems.  4Tech works to offer a vast array of cutting-edge cloud services at reasonable prices to all of our clientele, while bringing the understanding needed to confidently maximize network performance and minimize risk.</p>
</div>

<div id="detailimageright">
<img src="images/2768932.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
