<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>A Philosophy Built on Service</H2>
<p>From its inception in 1985, 4Tech Communications (then ATS: Affordable Telephone Systems) was founded on the principle of Service First: create a strong and ever-growing base of completely satisfied clients for whom you have increased the efficiency of their communication (technology) operations , reduced their communications investment by providing affordable solutions , and being constantly accessible with quality support and trustworthy service. This commitment to consistent service, meeting the needs of the client, and creatively positioning as a valuable partner (not just a service-provider) became the cornerstone of the 4Tech philosophy of service – and success.</p>
<p>Over the next 20 years, ATS continued to expand its client base, expand its service catalog, and remain adaptable in relation to the changing nature of two then-distinct industry segments that were ever moving closer together: Telecommunications and IT.  </p>
<p>In late 2005, ATS announced it was changing its name to 4Tech Communications, Inc., after substantially increasing the emphasis placed on and the resources devoted to its service expansion to include the ever integrating segment of all related business technologies.  4Tech in name and in practice had begun focused development of the identity and network that still enables it to function fully within the four main categories of technology in any industry vertical: Voice, Data/IT, Media, & Security.</p>
<p>In subsequent years, 4Tech has been acquiring many elite certifications and solutions capabilities within these four broad industry categories, while building one of the most versatile and expansive service and solutions networks in the integrated technology marketplace.  With service capabilities such as full-spectrum telecom brokerage agency and multi-platform software capacities, while still maintaining its ability to facilitate support and maintenance for these client solutions, 4tech is expanding its regional, national, and global footprints simultaneously.</p>
<p>Today, 4Tech Communications, with its continued dedication to client success and its synergistic affiliate model, is poised to bring ever-increasing value to its expanding base of client partners and to deliver value with clarity to the concept of technology “integration”.  4 different categories of technology, only one technology company to remember.</p>
</div>

<div id="detailimageright">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
