<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Corporate</H2>
<p>At 4Tech, we are proud to have been bringing professional services to the corporate environment for over 26 years.  We understand that your business runs on technology.  Whether it is telecom, data, media or security, your business depends on efficient systems to carry out your corporate goals. We are your trusted partner.  At 4Tech, we get it….your technology systems need to work all the time. You must have a system you can trust. We specialize in building a safe, redundant network that protects your business data. We understand the need for verifiable results and auditable reliability.  At 4Tech, we are part of your team.  Our success depends on the success of your corporate systems. Let us help you put together a technology plan and team that can achieve your corporate goals.</p>
</div>

<div id="detailimageright">
<img src="images/1818108.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
