<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Data & IT</H2>
The appropriate compliment to any voice system is a comprehensive, highly-functional data system to manage your information correctly. Inclusively, 4Tech constructs these strong, reliable data structures on a certified (documented) network cabling infrastructure, which can include Cat-5/e to fiber optic wiring.
4Tech also specializes in architecturally enhancing the performance of your data network by customizing your data room design - with many options in data room floors, network racks, and power protection / backup (including generators).
<p></p>
4Tech also makes available all of the necessary components to insure proper functionality of your data management systems (including switches, hubs, VPNs, and routers). Wireless networks (and VoIP integration) are also available to further enhance capability and flexibility of your data systems.
<p></p>
DATA solutions include:
<br/>
<br/>• Certified Network Cabling / Fiber 
<br/>• PCs / Workstations 
<br/>• Data Racks / Hubs / Switches 
<br/>• VoIP / Wireless Networks 
<br/>• Integration / Software 
<br/>• VPNs / Routers 
<br/>• Optical / RF Data Bridges 
<br/>• Data Room Design
<br/>• Protection / Back-up • Programming
<br/>• Tech Support and Help Desk Services 
<br/>• Maintenance Agreements
</div>

<div id="detailimageright">
<img src="/images/SMP0013612.JPG">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
