<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Disaster Recovery</H2>
<p>Research shows that small businesses that have system failure without a good disaster recovery plan often fail completely.  Our goal at 4Tech is to protect every 4Tech client by designing and implementing secure networks with a fail-proof disaster recovery plan.  From cloud backup to virtual servers and beyond, 4Tech has the right solution for your company.</p>
</div>

<div id="detailimageright">
<img src="images/3010497.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
