<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Education</H2>
<p>At 4Tech we are proud to serve the Education industry. From certification as USAC qualified service providers to expertise with virtualization and cloud computing, 4Tech helps to squeeze as much efficiency as possible from the education technology dollars. 4Tech stands ready to serve schools as a trusted partner, building network infrastructure, backing up district personnel in every area of technology service, from design to implementation and consultation, 4Tech partners with schools of all sizes.</p>
<p>We have experience in small private school environments, in charter schools with state-wide networks, and in large multiple campus school districts. We look forward to serving the technology needs of your education establishment.</p> 	
</div>

<div id="detailimageright">
<img src="images/CBP1001124.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
