<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Government</H2>
<p>4Tech has enjoyed years of service in the Municipal arena. From telecom systems to infrastructure cabling and SLA agreements for network services, we have been a trusted asset to many government entities. As a Texas Corporation, in good standing with state agencies, and currently listed on the state CMBL, 4Tech is ready to meet the growing challenges of technology required in the various areas of government.</p>
<p>We find that many government agencies are finding out that an integrated solution through a trusted partner can save time, money and frustration by eliminating the overlapping responsibilities of different vendors.</p>
<p>At 4Tech we have developed expertise in all four major fields of technology, telecom, Data/IT, Security, and Media. We look forward to continuing our service in the government industry vertical!</p> 	
</div>

<div id="detailimageright">
<img src="images/CBP0002130.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
