
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Healthcare</H2>
<p>4Tech is ready to serve the complex technology requirements of the medical industry.  With expertise ranging from the broad telephony needs of the hospital environment to the complex infrastructure and networking requirements of the Data and IT side of the medical field, 4Tech is experienced in serving the medical community. With experienced technicians and affiliates in every aspect of the computer and networking environment, 4Tech brings cost savings through leveraged use of the latest technology.</p>
<p>Our experience as a trusted partner outsourcing the responsibilities that keep in-house IT staff working efficiently and effectively has proven to be a trusted resource for our many medical industry clients. 4Tech stands ready to serve the needs of your medical establishment!</p> 	
</div>

<div id="detailimageright">
<img src="images/2439022.jpg">
</div>

    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
