<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Hospitality</H2>
<p>At 4Tech, we understand the demands of the Hospitality industry.  These days, restaurants, hotels, resorts, mountain cabins, and beachfront condos all rely on technology.  From blazing fast broadband to unlimited media, the public demands to stay on the cutting edge wherever they go.  From wireless internet to the corporate network, the demands of the hospitality industry are enormous.  That is why your company needs 4Tech as your trusted partner.  One call to 4Tech can bring a dedicated team to help solve your technology needs. In today’s environment, your company should explore the available savings found within a 4Tech Integrated Solution. Did you know it is simpler, less expensive, and far more efficient to have one partner providing your Telecom, Data/IT, Media and Security? Isn’t it time you asked 4Tech about an Integrated Solution for your hospitality business?</p>
</div>

<div id="detailimageright">
<img src="/images/JIP0008551.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
