<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />


<%= render "navheader" %> 
 
<!-- start of sildeshow includes -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript" src="scripts/fadeslideshow.js">

/***********************************************
* Ultimate Fade In Slideshow v2.0- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>

<script type="text/javascript">

var mygallery=new fadeSlideShow({
	wrapperid: "fadeshow1", //ID of blank DIV on page to house Slideshow
	dimensions: [578, 280], //width/height of gallery in pixels. Should reflect dimensions of largest image
	imagearray: [
		["images/slide1.jpg", "", "", "Comment about networking."],
		["images/slide2.jpg", "", "", "Comment about image 2."],
		["images/slide3.jpg", "", "", "Comment about data."],
		["images/slide4.jpg", "", "", "Comment about image 4."] //<--no trailing comma after very last image element!
	],
	displaymode: {type:'auto', pause:7000, cycles:0, wraparound:false},
	persist: false, //remember last viewed slide and recall within same session?
	fadeduration: 1500, //transition duration (milliseconds)
	descreveal: "none",
	togglerid: ""
})


</script>

<!-- end of sildeshow includes -->

</head>

<body>

<div id="container">
	
    <%= render "header" %>

    <%= render "navmenu" %>

    <div id="slideshow">
		<div id="fadeshow1"></div>
    </div>    
    
    <div id="welcome">
    <b>4</b> categories of technology.  One <b>tech</b> company to remember.<br/>
<br/>
Since 1985, our clients and partners have leveraged the <b>4Tech</b> service philosophy to positively impact the efficiency and success of their endeavors.<br/><br/>  <b>4Tech</b> Communications offers end-user organizations and solution providers a full suite of technology services – from consulting to turn-key implementation and ongoing support.
	<br/><br/>
<b>4Tech</b> is your technology solution.
    
    <br />
    <br />
    </div>  
    
    <div id="details">
    <!-- This is where the details go..<br /> --> 
    	<a href="voice.shtml">
		<div id="detail1">
        	<div id="detailheading">
        		Voice
        	</div>
        </div>
		</a>
		<a href="data.shtml">
    	<div id="detail2">
        	<div id="detailheading">
        		Data & IT
        	</div>
        </div>
		</a>
		<a href="media.shtml">
    	<div id="detail3">
        	<div id="detailheading">
        		Media
        	</div>
        </div>
		</a>
		<a href="security.shtml">
    	<div id="detail4">
        	<div id="detailheading">
        		Security
        	</div>
        </div>
		</a>
    </div>    
    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>

</div>




</body>


</html>
