<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Infrastructure</H2>
<p>At 4Tech, we understand that infrastructure cabling is the operational backbone for technology. Our technicians carry a variety of cabling industry certifications including the elite BerkTek / Ortronics certification, which allows us to offer the industry- leading,  25-year manufacturer warranty.  When you need infrastructure done right (and you do)….trust 4Tech.</p>
</div>

<div id="detailimageright">
<img src="/images/CBP1002764.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
