<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>IT/Network</H2>
<p>At 4Tech, we begin with networking experts. From engineering and design to build-out and implementation, we stand ready to meet your networking needs.  From the basic network and server for the small business to the advanced needs of the corporate environment, 4Tech brings a team collaboration to your network.  We have expertise across multiple platforms and maintain industry-leading training to bring a consultative approach to optimizing your IT investment.  Whether you need to service your existing network or plan towards virtualization and upgrade to a new standard, let 4Tech bring technology together with common sense to accurately address your need and bring efficient control to your network.</p>
</div>

<div id="detailimageright">
<img src="/images/1215313.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
