<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

</head>

<body>

    
   <div id="details">
    	<div id="detail1">
        <a href="voice.shtml"></a>
           <div id="detail1heading">
              Voice
           </div>
        </div>
    	<div id="detail2">
    		<div id="detailheading">
              Data & IT
           	</div>
        </div>
        </div>
    	<div id="detail3">
    	<a href="media.shtml"><img src="media.png" alt="Media" width="205" height="250" border="0" /></a>
        </div>
    	<div id="detail4">
    	<a href="security.shtml"><img src="security.png" alt="Voice" width="205" height="250" border="0" /></a>
        </div>
    </div>    


</body>


</html>
