<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Management Team</H2>
<p><b>Timothy C. Rivers - Chief Executive Officer and General Manager</b></p>
<p>As the original founder, Tim Rivers has been our Chief Executive Officer and General Manager  since September 1985.  Mr. Rivers has over 35 years experience in a senior managerial role, including 27 years experience in the business technology industry.</p>
<p><b>Thaxton C. Rivers - Chief Systems Officer and Systems Director</b></p>
<p>Thaxton Rivers was named our Chief Systems Officer and Systems Director in September of 2006. Mr. Rivers  has over 15 years experience in an operational management role, including 12 years experience in strategic business development and marketing in the technology industry.  Mr. Rivers holds a Bachelor of Science degree in Production and Management from Texas A&M University in College Station.</p>
</div>

<div id="detailimageright">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
