
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Manufacturing</H2>
<p>4Tech understands that today’s manufacturing is driven by technology. This is why we are driven to have the training and expertise among our employees and affiliates to service every area of the technology that your business requires. At 4Tech we realize that every part of your technology system must be cutting edge and reliable. Every phase of manufacturing is dependent on every other phase working correctly. We realize that quality, dependability, trust and efficiency must be built into every business system.</p>
<p>4Tech wants to earn your trust and establish a long term commitment to your business. From infrastructure cabling to network hardware and robotics, 4Tech stands ready to serve your manufacturing needs!</p> 	
</div>

<div id="detailimageright">
<img src="images/ISP2153570.JPG">
</div>

    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
