<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Media</H2>
Complete sound-oriented communication solutions are structured with documented, certified audio cabling. These infrastructures create the platform for all quality paging systems or conferencing environs.
Today's technological breakthroughs in multi- view, multi-screen plasma and LCD monitors (and precise, audio conferencing units) are steadily making errors in communication a thing of the past.
<p>
Additionally, any video conferencing environ can be completely protected and maximized with the implementing of media room shades and blinds, which can be fully automated with the use of a remote control unit.
<p></p>
4Tech also provides many solutions in surround sound and home theater that can provide for a full entertainment experience without ever leaving the comfort of your home.
<p></p>
MEDIA solutions include:
<br/>
<br/>• Certified Audio Cabling
<br/>• Paging Systems
<br/>• Voice / Video Conferencing
<br/>• Surround Sound
<br/>• Multi-Media Rooms
<br/>• Waiting Rooms & Hospitality Design
<br/>• Medical Procedure Stations 
<br/>• Home Theater & Audio 
<br/>• Plasma / LCD / Projection
<br/>• Shades / Blinds (w/ remote control)
<br/>• Tech Support and Help Desk Services 
<br/>• Maintenance Agreements
</div>

<div id="detailimageright">
<img src="images/1536931.jpg">
</div>

    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
