<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Natural Resources</H2>
<p>4Tech has been assisting our Natural Resource partners for many years.  We understand that your technology needs aren’t always in convenient downtown locations.  Wherever your company goes to find the natural resources that drive our economy, there are technology needs.  At 4Tech, we are as at home in the oil patch as we are in the board room.  We go where your technology needs are.  If you need satellite broadband in deep West Texas, we will get it for you.  If you need dependable computer networks and telecom at your strip mine in Wyoming, we will provide it.  Ready to have a partner who won’t spend your time telling you it is impossible, but will do everything possible to make your business work wherever it is?  Trust 4Tech. We are dedicated to bringing technical expertise to the companies that keep America working.  4Tech brings Telecom, Data and IT, Media, and Security where you need it.</p>
</div>

<div id="detailimageright">
<img src="images/3285731.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
