	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Partnerships</H2>
<p>At 4Tech, we understand the value of teamwork and leveraged partnerships. Our team is made up not only of valued employees and specialized partners (affiliates), but is also composed of the industry’s leading technology manufacturers and vendors. Because the realm of technology is constantly evolving and expanding, so must be our efforts at cultivating experienced partners in every facet of our field, as well as constantly training and certifying to remain relevant with ever-expanding product lines and client demands.  Strategic positioning as highly valued channel partners with these market-defined innovators solidifies 4Tech’s cutting-edge approach to providing solutions in any industry vertical and geographical location.  Further, our partnerships allow 4Tech to provide education, training, and certification to our current and potential affiliates, as well as to our client partners.</p>
<p>Some of our partners include industry leaders and icons such as:</p>
<img src="images/partnerlogos.png" width=475></img>
<p><b>...and many more.</b></p>
<p>Our commitment to our clients’ success is reflected in our commitment to quality partnerships.</p>

</div>

<div id="detailimageright">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
