<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Printing/Copying</H2>
<p>Copy and print solutions are now an integrated part of any networked infrastructure.  Implementing the right solution for functionality and low cost of use requires careful consideration of the entire system integration.  From customized infrastructure and network designation to accommodate your printing and copying needs, to terminal and hardware provisioning to bring the greatest value to your enterprise investment.  4Tech wants to help you find your best solution at the best price.</p>
</div>

<div id="detailimageright">
<img src="images/1982194.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
