<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Property Management</H2>
<p>At 4Tech, we offer a clean new revenue stream to the property management industry. For years we have come in to assist businesses in leased office space with their technology needs. Often, the shared space in a facility that includes the communication rooms and technology closets is an absolute mess and is the center of lots of confusion as multiple vendors from different tenants have stepped over one another to provide broadband, telecom, and security to the various clients in a building. The property management company is often called upon to referee disputes and resolve issues between tenants and their technology partners with no real revenue for the trouble. What is a better solution?</p>
<p>Choose 4Tech as your technology partner in the properties you manage. 4Tech offers a wide choice of different solutions for broadband at the best rates by having the National telecoms and cable providers compete to earn the business, and then offers an array of services to meet the client’s technology needs and 4Tech assumes responsibility for the communications rooms and technology closets, maintaining them at industry standards at all times. All of this allows the property management team to be commissioned with residual payments from the revenue stream of provided services. Properties stay well maintained in the technology areas and the Managers enjoy new streams of revenue.</p>
<p>Let 4Tech show your Property Management team a new way to enhance your business!</p> 	
</div>

<div id="detailimageright">
<img src="/images/AYP0809911.JPG">
</div>

    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
