<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Retail</H2>
<p>4Tech has the solutions for your retail business. From the back office and its networked infrastructure to the POS system on your frontline, 4Tech is ready to simplify the complex technology needs of today’s retail business. Of course our specialty is offering an integrated solution so that every piece of the technology system that makes up your business is integrated, serviced, and protected by one vendor, where one phone call takes care of any technology need without assigning blame to someone else.</p>
<p>Business made simple, done right, with savings for your bottom line!</p> 	
</div>

<div id="detailimageright">
<img src="/images/CBP1010220.jpg">
</div>

    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
