<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Security</H2>
Our quality surveillance solutions are built on a documented, certified surveillance cabling infrastructure. This architecture provides a reliable and broad range of options in CCTV systems (including monitors) and in IP-addressable web surveillance systems.
<p></p>
These web-based surveillance systems support cameras, which provide a wide array of styles and functionalities in remote pan/tilt displays and in network recording. These applications are driven by advanced network, camera management systems with broadband routers - and, for residential use, home gateways.
<p></p>
Powerful web surveillance management software allows for full control of usage and an exceptional level of monitoring security. These systems are equipped with encrypted protocols & firewalls.
<p></p>
SECURITY solutions include:
<br/>
<br/>• Certified Security Cabling 
<br/>• CCTV Systems 
<br/>• IP Web Cam Systems / Interface 
<br/>• Surveillance Software
<br/>• Broadband Mgmt. Routers 
<br/>• Secure Entry Systems 
<br/>• Home Gateways
<br/>• Multi-Image Displays 
<br/>• Remote Pan & Tilt Units
<br/>• Network Camera Recorders 
<br/>• Encrypted Protocols / Firewalls 
<br/>• Tech Support and Help Desk Services
<br/>• Maintenance Agreements
</div>

<div id="detailimageright">
<img src="/images/2129348.jpg">
</div>

    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
