<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Support Services</H2>
<p>When a client has their SLA (Service Level Agreement) with 4Tech, our team is always on the job, making the system uptime our highest priority. We offer SLA agreements on Telecom, Data/IT, Security, or Media systems. Further, 4Tech also offers an Integrated Solution, where all technology is supported by one SLA and one team oversees all of our client’s needs. Whether we are the outsourced IT department for your company or the support partner to your in-house IT department, at 4Tech, the efficiency of your system is our primary focus. We are dedicated to bringing the highest level of support to every 4Tech client.</p>
</div>

<div id="detailimageright">
<img src="/images/CBP1002809.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
