<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Surveillance</H2>
<p>Some businesses need a simple camera system at their entrances. Other businesses need advanced surveillance systems to track every aspect of daily activity. Our team at 4Tech can masterfully design and install the system you need at a price you can afford.  Let 4Tech show you how security can be enhanced with high quality surveillance as part of your network and business security policies.  Further, our 4Tech security experts can assist your team in drafting and implementing a comprehensive policy to provide you peace of mind and to safeguard your business from the costly complications that commonly accompany  the failure to specifically address security as a part of business operations.</p>
</div>

<div id="detailimageright">
<img src="images/MWP0043214.JPG">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
