<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Telephony</H2>
<p>4Tech was born out of the telephony industry segment. Our experience spans over 26 years as an industry leader. As telephone systems have evolved and integrated with related technology infrastructure, we continue to maintain industry- leading expertise.  From standard digital PBX systems to Cloud PBX and today's most advanced VoIP systems, 4Tech is your industry expert.</p>
</div>

<div id="detailimageright">
<img src="/images/2117170.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
