<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Telecom & Internet Services</H2>
<p>At 4Tech, we consider it our major responsibility to obtain the best service for our clients at the best price available.  We are a full-service telecom broker partnering with over 30 of the nation’s top carriers in order to present the best options available to our clients. Whether our client needs DSL service, bundled phone, cable and internet, or a double bonded T1 broadband service, we provide the right service at the right price.</p>
<p>With 4Tech as your agent, spending long hours trying to contact a live person who can help at the major carrier is a thing of the past.  A  4Tech client simply calls us and we solve their service issue regardless of where the problem lies.  We are certified as a service provider by USAC Schools and Libraries to simplify the process for educators needing service.  We offer all clients access to and expertise with Cloud Services and virtual environments in order to improve the efficiency of their network.  We help our clients know when VOIP offers a good solution and savings for their business. Regardless of your business vertical, 4Tech brings our team of experienced technicians to meet the challenges you face.</p>
</div>

<div id="detailimageright">
<img src="images/2782204.jpg">
</div>


    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
