<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>4Tech Communications</title>

<head>

<link rel="stylesheet" type="text/css" href="/fourtech.css" />

<%= render "navheader" %> 
 
</head>

<body>

<div id="container">
	<%= render "header" %>
    
    <%= render "navmenu" %>     
    
<div id="detaillefttext">
<H2>Why Choose 4Tech?</H2>
<p>We believe that 4Tech is your very best choice for technology services for four main reasons.</p>
<p><b>First, we have a service philosophy that puts our client’s interests first.</b> We believe every decision needs to be made in our client’s best interest. We take a long term approach that says “we only succeed when we help our client succeed.”  So, we are always looking for the best solutions at the best value.  4Tech actively seeks to exceed your expectation</p>
<p><b>Second, we take a consultative approach toward an Integrated Solution.</b> We don’t want to foster a fractured technology environment where various vendors all play the “blame game” about issues or problems. We take responsibility for the success of the entire technology infrastructure whenever possible in order to make sure that we know where the system is headed in the long run. By being pro-active and planning ahead, we avoid many of the pitfalls of conflicts within a network that can create issues and frustration. We believe that in today’s complex environment, ease of use and common sense should still be at the forefront of technology implementation.</p>
<p><b>Third, like our Mission Statement says, we believe that at each level or phase of service, we are facilitating a real, tangible investment into our client’s organization.</b>  In 4Tech, clients find a valuable ally to assist in making technology investments produce prosperous results. Our team looks forward to serving your company and your technology needs as a reliable partner.</p>
<p><b>Fourth (our favorite number), we have a true passion to serve and solve.</b>  Consistent solution provision is of the utmost priority to 4tech - and we invest heavily to provide ourselves the tools (mastery in the latest technologies and certifications to prove that capacity) that we need to effectively serve you.  Our calling is to solve and our commitment is to serve.</p>
<p>We look forward to serving you!</p>
</div>

<div id="detailimageright">
<img src="/images/4element.png" height=150px width=190px hspace="100">
</div>

    
    <div id="footerspace">
    	<br />
    </div>
    
    <%= render "footer" %>    

</div>




<br />

</body>


</html>
